@import 'bootstrap/bootstrap.less';
@import 'style.less';
@import 'prettyform.less';

@app-theme-color : #2B3F5A;
//@app-theme-color : #2D3E7A;
@app-secondary-hover-bgcolor: #CCC;
@app-secondary-default-bgcolor: #817793;
@app-secondary-base-color: #5D4C7C;
@app-secondary-active-bgcolor: #453162;
@app-secondary-color: #4C376C;
@app-page-heading-color: #FFA000;
@app-emergency-red-bgcolor: #AF1717;

/* CSS Document */
.no-class {
  display: none;
}
@bg-imgage: url("../img/body-bg.png");
html {
  //background-color: #222222;
  background-image: @bg-imgage;
  height: 100%;
}
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight:normal !important;
}
p{
  font-size: 14px;
}

.ui-hide,
.offset-hidden {
  position: absolute !important;
  left: -999999px !important;
  height: 0px !important;
  top: 0px;
  padding: 0 !important;
  margin: 0 !important;
}
body{
  padding-top: 50px;
  opacity: 1 !important;
  background-color: transparent;
  background-image: @bg-imgage;
  font-size: 14px;
}
@media (max-width: 768px) {
  body{
    padding-top: 0px;
  }
  #main-nav {
    position: static;
  }
}
#main-nav {
  top: 54px;
  background-color:  transparent;
  background-image:  @bg-imgage;
  padding: 0;
  margin: 0;
  z-index: 5;
}
#main-nav.main-nav-fixed {
  position: fixed;
  top: -52px;
}
#main-nav.main-nav-fixed + #main-content {
  margin-top: 186px;
}
#head-nav {
  margin-bottom: 0 !important;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
  background:  @app-theme-color !important;
  .nav.navbar-nav {
    float: none;
    display: inline-block;
    height: 45px;
    li:not(.active) {
      a:hover {
        background: #31527E;
      }
    }
  }
}
#tab-nav {
  margin-bottom: 0 !important;
  min-height: 106px;
  min-height: 0px;
  overflow: hidden;
//  border-bottom: 3px solid #FFA000;

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&amp;0+80,0.15+100 */
  background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0) 80%, rgba(0,0,0,0.15) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(80%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.15))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 80%,rgba(0,0,0,0.15) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 80%,rgba(0,0,0,0.15) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 80%,rgba(0,0,0,0.15) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 80%,rgba(0,0,0,0.15) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#26000000',GradientType=0 ); /* IE6-9 */

  background: #817793;
}
#tab-nav-list {
  margin-bottom: 0px;
  padding: 0;
  
  li {

    float: none;
    display: inline-block;
    width: 160px;
    margin: 15px !important;
    margin: 0px !important;
    padding: 0;
    list-style: none;
    a {
      //color: #625f6c;
      color: #888888;
      color: #E0E0E0;
      background: transparent;
      margin: 0px !important;
      position: relative;
      border: none;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
    }
      a:hover {
        //color: #C671F7;
        //border: 1px solid #E0B2FA;
        //color: #51b9cf;
        //border: 1px solid #51b9cf;
        //color: #48b2f2;
        background-color: #73648E;
        border: 2px solid #48b2f2;
        border: none;
    }
    a.selected,
    a.selected:hover {
      color: #2494f2;
      color: #E0E0E0;
      //border: 2px solid #2494f2;
      background: #5D4C7C;
      //color: #02B1CF;
      //border: 2px solid #02B1CF;
      //color: #A34ED4;
      //border: 2px solid #A34ED4;
      border: none;
    }
    a.selected:after {
      content: " ";
      position: absolute;
      left: 50%;
      bottom: -34px;
      margin-left: -13px;
      width: 26px;
      height: 26px;
      background-image: url("../img/body-bg.png");
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
//      bottom: -24px;
//      margin-left: -26px;
//      width: 0;
//      height: 0;
//      border-left: 26px solid transparent;
//      border-right: 26px solid transparent;
//      border-bottom: 20px solid #FFA000;
    }
  }
}

#bc-nav {
  margin-bottom: 0 !important;
  //min-height: 80px;
  padding: 5px;
  overflow: hidden;
  background: transparent;
  border: none !important;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  .container {
//    border-bottom: 1px solid #E9E9E9;
    //border-bottom: 3px solid #FFA000;
    //border-bottom: 3px solid #02B1CF;
  }

  h2 {
    color: #555;
  }

  .breadcrumb {
    list-style: none !important;
    padding: 10px 0;
    li {

      a {
        color: #777;
      }
      a:hover {
        text-decoration: underline;
      }
      a.selected{
        color: #2494F2;
        text-decoration: none !important;
        cursor: default;
      }
      ul {
        list-style: none !important;
        display: inline-block;
        margin: 0 5px;
        padding: 0;
        li:before {
          color: #ccc;
          content: "/\00a0";
          font-size: 24px;
        }
      }
    }

  }

}
#main-footer {
  margin-top: 100px;
  padding: 40px 0px 30px 0px;
}
.modal-dialog {
  width:800px;
}
.panel-group .panel {
  overflow: visible;
}
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}


/*
 * Side navigation
 *
 * Scrollspy and affixed enhanced navigation to highlight sections and secondary
 * sections of docs content.
 */

/* By default it's not affixed in mobile views, so undo that */
.bs-sidebar.affix {
  position: static;
}

/* First level of nav */
.bs-sidenav {
  margin-top: 30px;
  margin-bottom: 30px;
  padding-top:    10px;
  padding-bottom: 10px;
  text-shadow: 0 1px 0 #fff;
  background-color: #f7f5fa;
  border-radius: 5px;
}

/* All levels of nav */
.bs-sidebar .nav > li > a {
  display: block;
  color: #716b7a;
  padding: 5px 20px;
}
.bs-sidebar .nav > li > a:hover,
.bs-sidebar .nav > li > a:focus {
  text-decoration: none;
  background-color: #e5e3e9;
  border-right: 1px solid #dbd8e0;
}
.bs-sidebar .nav > .active > a,
.bs-sidebar .nav > .active:hover > a,
.bs-sidebar .nav > .active:focus > a {
  font-weight: bold;
  color: @app-secondary-base-color;
  background-color: transparent;
  border-right: 1px solid #563d7c;
}
.nav-tabs {
  background-color: #E4E4E4;
  color: @app-secondary-base-color;
  border: 0 !important;

  li {
    margin: 0;
    a {
      color: inherit;
      border-radius: 0 !important;
      border: 0 !important;
    }
    a:hover,
    a:focus{
      color: @app-secondary-color;
      background: @app-secondary-hover-bgcolor;
    }
  }
  li.active {
    a,
    a:hover,
    a:focus {
      color: white;
      background-color: @app-secondary-active-bgcolor;
      background-color: @app-secondary-base-color;
      cursor: default;
    }
    a:after,
    a:hover:after,
    a:focus:after {
      background-color: transparent;
    }
  }
}
/* Tabs Left CSS from Bootstrap 2.3*/
.tabs-left>.nav-tabs {
  float: left;
  margin-right: 0px;
  padding-right:0px;
  border-right: 1px solid #ddd;
}
.tabs-below>.nav-tabs, .tabs-right>.nav-tabs, .tabs-left>.nav-tabs {
  border-bottom: 0;
}
.tabs-left>.nav-tabs>li, .tabs-right>.nav-tabs>li {
  float: none;
  margin-bottom:0px;
  margin-right: -1px;
}
.tabs-left>.nav-tabs .active>a, .tabs-left>.nav-tabs .active>a:hover, .tabs-left>.nav-tabs .active>a:focus {
  border-color: #ddd transparent #ddd #ddd;
}
.tabs-left>.nav-tabs>li>a {
  margin-right: -1px;
  -webkit-border-radius: 4px 0 0 4px;
  -moz-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
}
.tabs-left>.nav-tabs>li>a, .tabs-right>.nav-tabs>li>a {
  min-width: 74px;
  margin-right: 0;
  margin-bottom: 3px;
}
.tabs-left>.nav-tabs>li>a:hover, .tabs-left>.nav-tabs>li>a:focus {
  border-color: #eee #ddd #eee #eee;
}
/* Nav: second level (shown on .active) */
.bs-sidebar .nav .nav {
  display: none; /* Hide by default, but at >768px, show it */
  margin-bottom: 8px;
}
.bs-sidebar .nav .nav > li > a {
  padding-top:    3px;
  padding-bottom: 3px;
  padding-left: 30px;
  font-size: 90%;
}

.table-responsive .dataTables_wrapper .row {
  margin: 0;
}
/* Show and affix the side nav when space allows it */
@media (min-width: 992px) {
  .bs-sidebar .nav > .active > ul {
    display: block;
  }
  /* Widen the fixed sidebar */
  .bs-sidebar.affix,
  .bs-sidebar.affix-bottom {
    width: 213px;
  }
  .bs-sidebar.affix {
    position: fixed; /* Undo the static from mobile first approach */
    top: 80px;
  }
  .bs-sidebar.affix-bottom {
    position: absolute; /* Undo the static from mobile first approach */
  }
  .bs-sidebar.affix-bottom .bs-sidenav,
  .bs-sidebar.affix .bs-sidenav {
    margin-top: 0;
    margin-bottom: 0;
  }
}
@media (min-width: 1200px) {
  /* Widen the fixed sidebar again */
  .bs-sidebar.affix-bottom,
  .bs-sidebar.affix {
    width: 263px;
  }
}

/* Google Map */
#map-canvas {
  height: 300px ;
}

/* Bootstrap Multiselect */
.multiselect {
  text-align: left;
}
.multiselect b.caret {
  position: absolute;
  top: 14px;
  right: 8px;
}

/* Bootstrap Overrides */
.navbar-inverse h1,
.navbar-inverse h2,
.navbar-inverse h3,
.navbar-inverse h4,
.navbar-inverse h5,
.navbar-inverse .h1,
.navbar-inverse .h2,
.navbar-inverse .h3,
.navbar-inverse .h4,
.navbar-inverse .h5 {
  color: #fff;
  margin-top: 20px;
  margin-bottom: 10px;
}
.navbar-inverse p {
  color: #999;
}

.page-heading {
  background: #eee;
  margin-bottom: 10px;
  padding: 0px 10px;
  overflow: hidden;
}

.page-heading h1,
.page-heading .h3 {
  display: inline-block;
  padding-right: 10px;
}

.page-heading a.text-muted {
  color: #999;
  text-decoration: underline;
}
.page-heading a.text-muted:hover,
.page-heading a.text-muted:focus {
  color: #2a6496;
  text-decoration: underline;
}

h1.row span{
  display: inline-block;
}

//Form Elements

.fieldset-container-one {
  //.form-horizontal;
  //.group-border-dashed;
  .pretty-form;
}

.panel-heading h4,
.panel-heading .h4 {
  display: block;
}
.panel-heading {
  .panel-title {
    a {
      font-size: 16px;
    }
  }
}
.form-toolbar {
  background-image: @bg-imgage;
  z-index: 1;
  .nav-tabs  {
    li {
      .toolbar-button-label {
        display: block;
      }
    }
  }
}
.form-toolbar.container {
  margin-left: -30px;
}
.form-toolbar.form-toolbar-fixed {
  position: fixed;
  top: 132px;
  .block-flat {
    margin-bottom: 20px;
  }
  .nav-tabs  {
    li {
      .toolbar-button-label {
        display: inline-block;
        margin-left: 5px;
      }
    }
  }
}

.form-toolbar.form-toolbar-fixed + .content{
  margin-top: 165px;
}

.cl-mcont,
table tbody td{
  font-size: 14px;
  font-weight: normal;
}


.app-block.app-heading-block {
  border-radius: 0 !important;
  .header {
    border-radius: 0 !important;
    border-bottom: 3px solid @app-secondary-default-bgcolor;
    background: @app-secondary-active-bgcolor;
    color: #E0E0E0
  }
}

.app-block.app-emergency-block {
  .header {
    color: white;
    background: @app-emergency-red-bgcolor;

    h1, h2, h3, h4, h5, h6,
    .h1, .h2, .h3, .h4, .h5, .h6 {
      font-weight: bold !important;
    }
  }

}

/* Bootstrap Overrides
================================================================================================================================================*/

.accordion-heading h2,
.accordion-heading .h2,
.accordion-heading h3,
.accordion-heading .h3,
.panel-heading h2,
.panel-heading .h2,
.panel-heading h3,
.panel-heading .h3
{
  margin: 0;
}

.accordion-heading a
{
  padding: 8px 50px 8px 15px !important;
}

.accordion-heading a,
.panel-heading a
{
  text-decoration: none;
  display: block;
  color: #0D80BF;
  position: relative;
}

.accordion-heading a:hover,
.panel-heading a:hover
{
  text-decoration: none;
  color: #0088cc;
}

.accordion-inner {
  padding: 9px 15px;
  border-top: 1px solid #e5e5e5;
}

.accordion-body {
  -webkit-box-shadow: none;
  -moz-box-shadow:none;
  box-shadow: none;
}

.accordion.accordion-semi .panel-heading a {
  background-color: inherit;
  color: inherit;
  border-bottom: 1px solid #ddd;
}

/* For use with Bootstraps default Accordions.*/

.panel-arrow
{
  font-family: 'entypo';
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;
  line-height: 1em;
  position: absolute;
  right: 20px;
  top: 50%;
  margin-top: -11px;
}

.collapsed .panel-arrow:before
{
  content: '\e767';
}

.panel-arrow:before
{
  content: "\e764";
}

//Table styling

.search-results-table
{
  border: 1px solid #dddddd;
  border-top: none;
}

.search-results-table tr
{
  border: none;
}

.search-results-table td
{
  border: none !important;
  border-top: 1px solid #dddddd !important;
  padding: 8px 15px !important;
}


table.table-minimalist th
{
  background: #e6e6e6;
  color: #444;
  border-right: none;
}


table.table-minimalist td,
table.table-striped.table-minimalist td,
table.table-striped.table-minimalist tr:nth-child(odd) td
{
  background: transparent;
  border-right: none;
}

table.table-striped.table-minimalist tr:nth-child(even) td
{
  background: #FDFDFD;
}

table.table-minimalist th.actions
{
  text-align: right;
}

table.table-minimalist th.actions span
{
  height: 0;
  width: 0;
  overflow: hidden;
  display: inline-block;
}

table.app-table {
  caption {
    text-transform: uppercase;
  }
  thead {
    tr {
      th {
        font-size: 15px;
        font-weight: 600;
        background: #817793;
        color: white;
      }
    }
  }
}
.valign-middle {
  vertical-align: middle !important;
}

//Icon Overrides
.fa-comment-o.app-icon-report-problem:after {
  content: "\f12a";
  font-size: 50%;
  position: absolute;
  left: 42%;
  top: 25%;
  color: inherit
}

// Fontsaddict-Medical Overrides
[class^="icon-"]:not([class^="icon-i"]):before, [class*=" icon-"]:not([class*=" icon-i"]):before,
[class^="icon-"]:not([class^="icon-i"]):after, [class*=" icon-"]:not([class*=" icon-i"]):after {
  margin-left: 0;
  font-size: inherit;
}

//ltss overrides
.genericform-style {

  label,
  .label {
    display: inline-block;
    width: 35%;
    box-sizing: border-box;
    color: rgb(85, 85, 85);
    cursor: default;
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 600;
    height: 21px;
    line-height: 21px;
    margin-bottom: 7px;
    text-align: left;
    white-space: normal;
    vertical-align: middle;
  }
  input[type=radio] + label {
    width: auto;
  }
}